{
    "extends": ["prettier", "eslint:recommended"],
    "overrides": [],
    "plugins": ["prettier"],
    "ecmaVersion": "latest",
    "rules": {
      "prettier/prettier": ["error"],
      "indent": ["error", 4],
      "linebreak-style": ["error", "unix"],
      "quotes": ["error", "single"],
      "semi": ["error", "never"],
      "no-empty": "warn",
      "no-cond-assign": ["error", "always"],
      "for-direction": "off"
    }
}